
.button:hover{
  	-fx-background-color:lime;
  	-fx-text-fill:green;
  	-fx-font-size:8;
}

.button{
	-fx-background-color:green;
	-fx-text-fill:lime;
	-fx-text-position:center;
}

#AnchorPane{
	-fx-background-image:url("https://thumbs.gfycat.com/DownrightUnitedBarnowl-small.gif");
	-fx-background-size:cover;
  	-fx-background-position:center;
}
#BorderPane{
	-fx-background-image:url("https://thumbs.gfycat.com/DownrightUnitedBarnowl-small.gif");
	-fx-background-size:cover;
  	-fx-background-position:center;
}